/* html {
  scroll-padding-top: 8rem;
  background-color: #FDF6ED;
}

.remove-calendar-dropdown::-webkit-calendar-picker-indicator {
  display: none !important;
}

.intl-tel-input {
  width: 100%;
}

.iti {
  width: 100%;
} */

/* Awesomplete Module */
@tailwind base;


/* Base styles moved into Tailwind base layer */
@layer base {
    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    body {
        background-image: url('/images/background.webp');
        background-size: cover;  
        @apply
        text-theme-navy 
        font-sans 
        text-sm;
        background-size: 100%;
    }
    *::-webkit-scrollbar { width: 0 }
    *, *::before, *::after { box-sizing: border-box }
        h1, h2, h3, h4, h5, h6, .title {
            @apply font-larken;
        }
}
@font-face {
    font-family: "Larken";
    src: url("https://db.onlinewebfonts.com/t/61637e80c3e88812def846832594f24d.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/61637e80c3e88812def846832594f24d.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/61637e80c3e88812def846832594f24d.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

