---
import ResponsiveNav from "../../components/ResponsiveNav.astro";
import HTMLWrapper from "../../layouts/HTMLWrapper.astro";
import Footer from "../../components/Footer.astro";

const user = Astro.url.searchParams.get("user");
---

<HTMLWrapper title="Verify">
  <ResponsiveNav current="verify" />
  <main id="main-verify" class="mt-24 flex h-[60vh] w-full flex-col items-center justify-center space-y-8" data-user={user}>
    <h1 class="text-6xl" id="verify-heading"></h1>
    <div class="text-lg" id="textValue"></div>
  </main>
  <Footer />
</HTMLWrapper>

<script>
  const user = document.getElementById('main-verify')!.dataset.user;
  const h1 = document.getElementById('verify-heading');
  const content = document.getElementById("textValue");

  if (user && h1 && content) {
    fetch(`${import.meta.env.PUBLIC_API}/api/verify/${user}`, {
      method: "POST",
    }).then((response) => {
      if (response.status == 200 || response.status == 201) {
        console.log("success");
        h1.textContent = "Registration Verified";
        content.textContent = "Congratulations! You are registered for RevolutionUC!!";
      } else {
        h1.textContent = "Error";
        content.textContent =
          "There was a problem verifying your registration. Please contact us at info@revolutionuc.com.";
      }
    });
  }
</script>
