---
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import Hero from "../components/Hero.astro";
import ScheduleTable from "../components/ScheduleTable.astro";
import Footer from "../components/Footer.astro";
import scheduleData from "../data/scheduleData.json";
import shuttleData from "../data/scheduleShuttle.json";
import QuickLinks from "../components/QuickLinks.astro";
---

<HTMLWrapper title="Home">
  <ResponsiveNav current="home" />
  <main>
    <Hero siteState="live" />
    <div class="flex flex-col justify-center items-center py-10">
      <h1 class="text-3xl font-bold">Schedule</h1>
      <ScheduleTable schedule={scheduleData.scheduleDayOne} label="February 24th" />
      <ScheduleTable schedule={scheduleData.scheduleDayTwo} label="February 25th" />
      <h1 class="text-3xl font-bold">Shuttle Schedule</h1>
      <ScheduleTable schedule={shuttleData.scheduleDayOne} label="February 24th" />
      <ScheduleTable schedule={shuttleData.scheduleDayTwo} label="February 25th" />
      <QuickLinks />
    </div>
  </main>
  <Footer />
</HTMLWrapper>
