---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
---

<HTMLWrapper title="About">
    <ResponsiveNav current="about" />
    <p>About</p>
</HTMLWrapper>