---
import AboutCard from "../components/AboutCard.astro";
import HeaderImage from "../components/HeaderImage.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import Footer from "../components/Footer.astro";
---

<HTMLWrapper title="About">
  <ResponsiveNav current="about" />
  <main class="mb-24 mt-24 flex w-full flex-col items-center justify-center space-y-8">
    <video 
      class="rounded-xl w-11/12 max-w-full h-auto md:max-w-3xl" 
      controls 
      playsinline
      poster="/general/revuc-promo-thumbnail.jpg"
    >
      <source src="/general/revuc-promo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    
    <section class="flex w-2/3 md:max-w-3xl flex-col items-center justify-center space-y-8">
      <h1 class="font-poppins text-4xl font-bold inline-flex gap-4 pt-6">
        <span class="text-theme-teal">Build.</span>
        <span class="text-theme-dark-blue">Learn.</span>
        <span class="text-theme-coral">Grow.</span>
      </h1>

      <p class="text-lg">
        RevolutionUC is a student hackathon in which we invite students from across the midwest to partake in a weekend
        of code, community, and self-improvement. You don’t have to attend the University of Cincinnati and you don’t
        have to be a computer science major or engineering student. We’re looking for people who share our passion to do
        awesome things with technology.
      </p>
    </section>
    <section class="w-2/3 md:max-w-3xl grid sm:grid-cols-3 gap-6 pb-2">
      <AboutCard
        imgSrc="/general/cat-build.png"
        imgAlt="About"
        title="Build."
        description="Hack something awesome!"
        color="#1BAFAF"
      />
      <AboutCard
        imgSrc="/general/cat-learn.png"
        imgAlt="About"
        title="Learn."
        description="Hack something new!"
        color="#20385E"
      />
      <AboutCard
        imgSrc="/general/cat-grow.png"
        imgAlt="About"
        title="Grow."
        description="Share your hack!"
        color="#E48279"
      />
    </section>

    <section class="flex w-2/3 md:max-w-3xl flex-col items-center justify-center space-y-4">
      <h1 class="text-3xl font-poppins text-theme-dark-blue">Our Mission</h1>
      <p class="text-lg">
        At the core of RevolutionUC are three key concepts: building, learning, and growing. There’s nothing we love
        more than helping our hackers learn something new while they build something cool. RevolutionUC strives to be an
        event where students who are passionate about technology can come together to create something amazing.
      </p>
      <p class="text-lg">
        New to hackathons? No problem! We’re excited to help you dive into the fantastic community, and there’s no
        better place to start than RevolutionUC! With experienced and industry mentors, you’ll be hacking away in no
        time!
      </p>
      <p class="text-lg">
        Over the course of 24 hours you’ll work together with friends, new or old, to create something you can be proud
        of from scratch. With tech talks and industry partnerships for inspiration, the sky is the limit. We’ve seen
        fantastic websites, mobile apps, bots, and hardware hacks, and we can’t wait to see what you’ll make this year.
      </p>
      <p class="text-lg">
        Hackathons are more than just a competition or showcase of technical skill. At RevolutionUC, we strive to create
        an all-inclusive community that acts as an outlet in which we can join our peers and share our passion for all
        the incredible things that can be done through programming. That’s why we follow the <a
          href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"
          class="text-theme-teal underline"
          target="_blank">Major League Hacking code of conduct</a
        >. We’re excited to share this ethos with all of our attendees and come together to grow the hacker community
        here in Cincinnati.
      </p>
    </section>
    <section class="flex w-2/3 md:max-w-3xl flex-col items-center justify-center space-y-4">
      <h1 class="text-3xl font-poppins text-theme-dark-blue">Contact Us</h1>
      <p class="text-lg">
        Have a question not in our <a href="/faq/" class="text-theme-teal underline">FAQ</a>? Want to get in contact
        about sponsorship? Send us a message at <a href="mailto:info@revolutionuc.com" class="text-theme-teal underline"
          >info@revolutionuc.com</a
        >.
      </p>
    </section>
  </main>
  <Footer />
</HTMLWrapper>



