---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
---

<HTMLWrapper title="FAQ">
    <ResponsiveNav current="faq" />
    <p>FAQ</p>
</HTMLWrapper>