---
import HTMLWrapper from '../layouts/HTMLWrapper.astro';
import ResponsiveNav from '../components/ResponsiveNav.astro';
---

<HTMLWrapper title="Home">
	<ResponsiveNav current="home" />
	<main>
		<section id="hero" class="h-screen bg-black">

		</section>
	</main>
</HTMLWrapper>