---
import HTMLWrapper from '../layouts/HTMLWrapper.astro';
import Card from '../components/Card.astro';
---

<HTMLWrapper title="Home">
	<main>
		<section id="hero" class="h-screen bg-black">
			
		</section>
	</main>
</HTMLWrapper>