---
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import Hero from "../components/Hero.astro";
import Description from "../components/Description.astro";
import PastHacks from "../components/PastHacks.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro"; 
import PlaneAnimation from "../components/PlaneAnimation.astro";
import HorizontalSection from "../components/HorizontalSection.astro";
import Path from "../components/Path.astro";
import DashPass from "../components/DashPass.astro";
const siteState = "registration";

// if (siteState === "live") {
//   return Astro.redirect('/live');
// }
---

<HTMLWrapper title="Home">
  <ResponsiveNav current="home" />
  <main>
    <div>
      <PlaneAnimation />
      <Path />
      <HorizontalSection />
      <DashPass/>
    </div>
  </main>
  <Footer />
</HTMLWrapper>
