---
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import Hero from "../components/Hero.astro";
import Description from "../components/Description.astro";
import PastHacks from "../components/PastHacks.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import Stats from "../components/Stats.astro";

const siteState = "registration";

// if (siteState === "live") {
//   return Astro.redirect('/live');
// }
---

<HTMLWrapper title="Home">
  <ResponsiveNav current="home" />
  <main>
    <Hero siteState={siteState} />
    <div class="bg-gradient-to-b from-theme-sand to-transparent">
      <Stats />
      <Description />
      <PastHacks />
      <Gallery />
    </div>
  </main>
  <Footer />
</HTMLWrapper>
