---
import HTMLWrapper from '../layouts/HTMLWrapper.astro';
import ResponsiveNav from '../components/ResponsiveNav.astro';
import Hero from '../components/Hero.astro';
---

<HTMLWrapper title="Home">
	<ResponsiveNav current="home" />
	<main>
		<Hero siteState="pre-registration" />
	</main>
</HTMLWrapper>