---
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import Hero from "../components/Hero.astro";
import ScheduleTable from "../components/ScheduleTable.astro";
import Footer from "../components/Footer.astro";
import scheduleData from "../data/scheduleData.json";
import shuttleData from "../data/scheduleShuttle.json";
import QuickLinks from "../components/QuickLinks.astro";
---

<HTMLWrapper title="Home">
  <ResponsiveNav current="home" />
  <main>
    <Hero siteState="live.countdown" />
    <div class="mb-24 bg-gradient-to-b from-theme-sand to-transparent pt-[40px]">
      <div class="mt-10 flex h-max justify-center py-20">
        <QuickLinks />
      </div>
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-8 pb-4">Schedule</h1>
        <ScheduleTable schedule={scheduleData.scheduleDayOne} label="March 1st" background="bg-theme-light-teal"/>
        <ScheduleTable schedule={scheduleData.scheduleDayTwo} label="March 2nd" background="bg-theme-light-coral"/>
        <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-8 pb-4">Shuttle Schedule</h1>
        <ScheduleTable schedule={shuttleData.scheduleDayOne} label="March 1st" background="bg-theme-light-teal"/>
        <ScheduleTable schedule={shuttleData.scheduleDayTwo} label="March 2nd" background="bg-theme-light-coral"/>
      </div>
    </div>
  </main>
  <Footer />
</HTMLWrapper>
