---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import Footer from "../components/Footer.astro";
import PrizeCategoryCard from "../components/PrizeCategoryCard.astro";
import prizesData from "../data/prizesData.json";
---

<HTMLWrapper title="Prize Categories">
  <ResponsiveNav current="prize categories" />
  <main class="mb-24 mt-24 flex w-full flex-col items-center justify-center space-y-8">
    <img src="/general/prize.gif" alt="Prize Gif" class="h-auto w-64" onerror="this.style.display='none'"/>

    <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-5">Prize Categories</h1>
    <div class="grid sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-5 sm:gap-x-8 xl:gap-x-5 gap-y-8 p-6 w-5/6 xl:w-11/12">
      <PrizeCategoryCard 
        title="Best Business Plan" 
        description="Awarded to the project with the most well-thought-out and feasible business strategy. Judges will evaluate the potential for real-world implementation, scalability, and market impact."
        customClass="bg-theme-light-teal sm:col-span-2 xl:col-span-1"
        image="/general/prize-categories/best-business-plan.png"
      />
      <PrizeCategoryCard
        title="Most Technically Impressive"
        description="Recognizes the project demonstrating exceptional technical innovation, complexity, and skill. This prize celebrates engineering excellence and cutting-edge technology."
        customClass="bg-theme-light-coral sm:col-span-2 xl:col-span-1"
        image="/general/prize-categories/most-tech-impressive.png"
      />
      <PrizeCategoryCard
        title="Best Social Impact"
        description="Given to the project that makes the greatest positive impact on society. Judges will look for solutions addressing pressing social, environmental, or humanitarian challenges."
        customClass="bg-theme-pastel-green sm:col-span-2 xl:col-span-1"
        image="/general/prize-categories/best-social-impact.png"
      />
      <PrizeCategoryCard
        title="People's Choice"
        description="This prize is decided by participant votes and celebrates the most popular project among attendees. A great opportunity to showcase creativity and make an impression on the hackathon community."
        customClass="bg-theme-coral-2 sm:col-span-2 lg:col-start-2 xl:col-span-1"
        image="/general/prize-categories/peoples-choice.png"
      />
      <PrizeCategoryCard
        title="Most Useless Hack"
        description="Awarded to the most creative yet impractical project. This category celebrates originality, humor, and the idea that not all hacks have to be useful—some just need to make us laugh!"
        customClass="bg-theme-sand sm:col-span-2 sm:col-start-2 lg:col-start-4 xl:col-span-1"
        image="/general/prize-categories/most-useless.png"
    />
    </div>
    <!-- <p class="text-center p-4 text-xl font-semibold">More information about the sponsored prize categories will be announced shortly before the event.</p> -->
      <h2 class="font-poppins text-xl font-bold text-theme-teal mt-5">Sponsor Prizes</h2>
    <div class="grid gap-5 sm:gap-10 sm:grid-cols-2 w-5/6 md:max-w-3xl">
      <div>
        {
          prizesData.slice(4, 7).map((prize) => (
            <details class="my-4 cursor-pointer">
              <summary class="my-2 leading-[16.37px]">{prize.title}</summary>
              <div class="leading-[16.37px]" set:html={prize.description} />
            </details>
          ))
        }
      </div>
      <div>
        {
          prizesData.slice(7, 9).map((prize) => (
            <details class="my-4 cursor-pointer">
              <summary class="my-2 leading-[16.37px]">{prize.title}</summary>
              <div class="leading-[16.37px]" set:html={prize.description} />
            </details>
          ))
        }
      </div>
    </div>
  </main>
</HTMLWrapper>
<Footer />
