---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import ScheduleTable from "../components/ScheduleTable.astro";
import Footer from "../components/Footer.astro";
import scheduleData from "../data/scheduleData.json";
import shuttleData from "../data/scheduleShuttle.json";
---

<HTMLWrapper title="Schedule">
  <ResponsiveNav current="schedule" />
  <main class="mb-24 mt-24 flex justify-center">
    <div class="flex flex-col items-center justify-center">
      <img src="/general/schedule.gif" alt="RevolutionUC's Schedule" class="h-auto w-72 drop-shadow-md" />
      <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-8 pb-4">More Information will be coming soon.</h1>
      {/*<ScheduleTable schedule={scheduleData.scheduleDayOne} label="March 1st" background="bg-theme-light-teal"/>
      <ScheduleTable schedule={scheduleData.scheduleDayTwo} label="March 2nd" background="bg-theme-light-coral"/>
      <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-8 pb-4">Shuttle Schedule</h1>
      <ScheduleTable schedule={shuttleData.scheduleDayOne} label="March 1st" background="bg-theme-light-teal"/>
      <ScheduleTable schedule={shuttleData.scheduleDayTwo} label="March 2nd" background="bg-theme-light-coral"/>
      <p class="p-4 text-lg text-center font-semibold">Register for RevolutionUC to receive updates!</p> */}
    </div>
  </main>
  <Footer />
</HTMLWrapper>
