---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
---

<HTMLWrapper title="Schedule">
    <ResponsiveNav current="schedule" />
    <p>Schedule</p>
</HTMLWrapper>