---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import ScheduleTable from "../components/ScheduleTable.astro";
import Footer from "../components/Footer.astro";
import scheduleData from "../data/scheduleData.json";
import shuttleData from "../data/scheduleShuttle.json";
---

<HTMLWrapper title="Schedule">
  <ResponsiveNav current="schedule" />
  <main class="mt-24 flex justify-center">
    <div class="flex flex-col items-center justify-center">
      <img
        src="/images/schedule.jpg"
        alt="RevolutionUC's Schedule"
        class="h-[500px] w-[760px] object-cover pb-8 max-md:h-[300px] max-md:w-11/12"
        decoding="async"
        loading="eager"
      />
      <h1 class="text-3xl font-bold">Schedule</h1>
      <ScheduleTable schedule={scheduleData.scheduleDayOne} label="February 24th" />
      <ScheduleTable schedule={scheduleData.scheduleDayTwo} label="February 25th" />
      <h1 class="text-3xl font-bold">Shuttle Schedule</h1>
      <ScheduleTable schedule={shuttleData.scheduleDayOne} label="February 24th" />
      <ScheduleTable schedule={shuttleData.scheduleDayTwo} label="February 25th" />
      <p class="pb-8">Register for RevolutionUC to receive updates!</p>
    </div>
  </main>
  <Footer />
</HTMLWrapper>
