---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
---

<HTMLWrapper title="Sponsors">
    <ResponsiveNav current="sponsors" />
    <p>Sponsors</p>
</HTMLWrapper>