---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import Footer from "../components/Footer.astro";
---

<HTMLWrapper title="Sponsors">
    <ResponsiveNav current="sponsors" />
    <div class="flex flex-col justify-center items-center mt-24">
        <img 
            src="https://assets.revolutionuc.com/website-images/2023/photos/2x/sponsors.png" 
            alt="RevolutionUC's Schedule" 
            class="w-[760px] max-md:w-11/12 h-[500px] max-md:h-[300px] object-cover pb-8"
            loading="eager"/>
            <h1 class="text-3xl font-extrabold">Sponsors</h1>
    </div>

    <section class="mt-24">
        <div class="sponsor-list flex flex-col flex-wrap">

            <div class="flex flex-row justify-center items-center">
                <a href="https://www.revolutionuc.com" target="_blank noopenner">
                    <img
                      id="{{sponsor.name | slugify}}-image"
                      class="sponsor-diamond"
                      src=""
                      alt="Diamond Tier logo" />
                </a>
            </div>

            <div class="flex flex-row justify-center items-center">
                <div class="sponsor-image">
                    <a href="{{ sponsor.link }}" target="_blank noopenner">
                        <img
                            id="{{sponsor.name | slugify}}-image"
                            class="sponsor-platinum"
                            src=""
                            alt="Platinum Tier logo" />
                    </a>
                  </div>

                <div class="sponsor-image">
                    <a href="{{ sponsor.link }}" target="_blank noopenner">
                        <img
                            id="{{sponsor.name | slugify}}-image"
                            class="sponsor-gold"
                            src=""
                            alt="Gold Tier logo" />
                    </a>
                </div>
            </div>

            <div class="flex flex-row justify-center items-center">

                <div class="sponsor-image">
                    <a href="{{ sponsor.link }}" target="_blank noopenner">
                        <img
                            id="{{sponsor.name | slugify}}-image"
                            class="sponsor-silver"
                            src=""
                            alt="Silver Tier logo" />
                    </a>
                </div>
            </div>

            <div class="flex flex-row justify-center items-center">
                <div class="sponsor-image">
                     <a href="{{ sponsor.link }}" target="_blank noopenner">
                        <img
                            id="{{sponsor.name | slugify}}-image"
                            class="sponsor-money"
                            src=""
                            alt="Money Tier logo" />
                        </a>
                </div>
                
                <div class="sponsor-image">
                    <a href="{{ sponsor.link }}" target="_blank noopenner">
                        <img
                            id="{{sponsor.name | slugify}}-image"
                            class="sponsor-prize"
                            src=""
                            alt="Prize Tier logo" />
                    </a>
                </div>
            </div>
        </div>

        <div>
            <h2 class="text-xl text-center mt-8 font-bold"> Partners </h2>
        
            <div class="flex flex-row justify-center items-center">
                <div class="sponsor-image">
                  <a href="{{ sponsor.link }}" target="_blank noopener">
                    <img
                      id="{{ sponsor.name | slugify }}-image"
                      class="sponsor-partner"
                      src=""
                      alt="Partner logo" />
                  </a>
                </div>
            </div>
        </div>
        
        <div>
            <h2 class="text-xl text-center mt-8 font-bold"> Organized By </h2>
  
            <div class="flex flex-row justify-center items-center">
                <div class="sponsor-image">
                    <a href="https://acmatuc.org/" target="_blank">
                        <picture>
                            <source
                                class="sponsor-image--acm@uc"
                                srcset=""
                                type="image/webp" />
                            <img
                            class="acm-logo"
                            src="/img/sponsors/acmatuc.svg"
                            alt="ACM@UC logo" />
                        </picture>
                    </a>
                </div>
            </div>
        </div>

    </section>
    </div>

        <section>
            <div class="pb-20 mt-8">
                <p class="ml-32">Interested in sponsoring RevolutionUC? It's a great way to connect with talented and motivated students!
                                Send us an email at
                                <u><a href="mailto:sponsor@revolutionuc.com" class=" text-blue-400">sponsor@revolutionuc.com</a></u>  
                                for information.
                </p>
            </div>
        </section>
    <Footer />
</HTMLWrapper>