---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import Footer from "../components/Footer.astro";
---

<HTMLWrapper title="Sponsors">
  <ResponsiveNav current="sponsors" />
  <main class="mb-24 mt-24 flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold font-poppins text-theme-dark-blue pt-8">Sponsors</h1>

    <section class="mt-4">
      <div class="sponsor-list flex flex-col flex-wrap items-center justify-center p-8">
        <!-- TODO:
                  This is fine for now, but I want this to be dynamically rendered
                  Specifically, I want a json file in the /data folder
                  I want you to load the images as well as the corresponding website for sponsors
                  based solely on that json.
              -->
        <div class="m-4 flex flex-row flex-wrap items-center justify-center gap-8">
          <a href="https://innovation.uc.edu/" target="_blank noopenner">
            <img class="w-40" src="/sponsors/1819-inno-hub.png" alt="1819 and Cincinnati Innnovation District Logo" />
          </a>
          <a href="https://www.53.com/content/fifth-third/en.html" target="_blank noopenner">
            <img class="w-80" src="/sponsors/fifth-third-bank.png" alt="Fifth Third Logo" />
          </a>
        </div>

        <div class="m-4 flex flex-row flex-wrap items-center justify-center gap-8">
          <a href="https://www.medpace.com/" target="_blank noopenner">
            <img class="w-[26rem]" src="/sponsors/medpace.png" alt="Medpace Logo" />
          </a>
        </div>

        <div class="m-4 flex flex-row flex-wrap items-center justify-center gap-8">
          <a href="https://kinetic-vision.com/" target="_blank noopenner">
            <img class="w-80" src="/sponsors/kinetic-vision.png" alt="Kinetic Vision Logo" />
          </a>
          <a href="https://icr-team.com/" target="_blank noopenner">
            <img class="w-40" src="/sponsors/icr-inc.png" alt="ICR Logo" />
          </a>
        </div>

        <div class="m-4 flex flex-row flex-wrap items-center justify-center gap-8">
          <a href="https://aws.amazon.com/" target="_blank noopenner">
            <img class="w-32" src="/sponsors/aws.png" alt="AWS Logo" />
          </a>
          <a href="https://rarenetwork.io/" target="_blank noopenner">
            <img class="w-52" src="/sponsors/rare-network.png" alt="Rare Network Logo" />
          </a>
        </div>

        <div class="m-4 flex max-w-5xl flex-row flex-wrap items-center justify-center gap-x-9 gap-y-8">
          <a href="https://saily.com/" target="_blank noopenner">
            <img class="w-24" src="/sponsors/saily-black.png" alt="Saily Logo" />
          </a>
          <a href="https://nordvpn.com/" target="_blank noopenner">
            <img class="w-40" src="/sponsors/nordvpn-black.png" alt="NordVPN Logo" />
          </a>
          <a href="https://nordpass.com/" target="_blank noopenner">
            <img class="w-40" src="/sponsors/nordpass.png" alt="NordPass Logo" />
          </a>
          <a href="https://incogni.com/" target="_blank noopenner">
            <img class="w-36" src="/sponsors/incogni.png" alt="Incogni Logo" />
          </a>
        </div>
      </div>
    </section>

    <div>
      <h2 class="text-center text-2xl font-semibold font-poppins text-theme-dark-blue pt-4">Organized By</h2>
      <div class="m-4 flex flex-row flex-wrap items-center justify-center gap-8">
        <a href="https://mlh.io/" target="_blank">
          <img class="w-44" src="/sponsors/mlh-logo-color.png" alt="MLH logo" />
        </a>
        <a href="https://acmatuc.org/" target="_blank">
          <img class="w-80" src="/sponsors/acmatuc.png" alt="ACM@UC logo" />
        </a>
      </div>
    </div>  
    <p class="pt-10 text-center text-lg w-3/4">
      Interested in sponsoring RevolutionUC? It's a great way to connect with talented and motivated students! Send us
      an email at 
      <a href="mailto:sponsor@revolutionuc.com" class="text-theme-coral underline">sponsor@revolutionuc.com</a> 
      for information.
    </p>
  </main>
</HTMLWrapper>
<Footer />
