---
interface Props {
    title: string;
    description: string;
    imgSrc: string;
    imgAlt: string;
    color: string;
}

const { title, description, imgSrc, imgAlt, color }: Props = Astro.props;
---

<div class="flex flex-col">
    <img src={ imgSrc } alt={ imgAlt } class="w-96 h-96 object-cover">
    <div class="flex flex-col space-y-2 p-4 justify-center items-center" style={`background-color: ${color};`}>
        <h3 class="text-2xl font-bold">{ title }</h3>
        <p class="text-lg ">{ description }</p>
    </div>
</div>