---
const title = `Your Dash Pass — Ready for Boarding`;
const words = title.split(' ');
---

<div id="about" class="min-h-screen w-screen">
    <div class="relative mb-0 mt-3 flex flex-col items-center gap-5">
        
        <h2 data-animated-title class="animated-title text-3xl md:text-5xl font-larken text-center my-6">
            <div class="flex items-center justify-center max-w-full flex-wrap gap-2 px-10 md:gap-3">
                {words.map(word => <span class="animated-word mr-2">{word}</span>)}
            </div>
        </h2>

        <div class="about-subtext">
            <p class="text-gray-500">
            Design your personalized Dash Pass — your key to enter RevolutionUC 2026!
            </p>
        </div>
    </div>

    <div id="clip" class="w-screen h-screen flex items-center justify-center">
    <div class="mask-clip-path about-image relative w-80 h-[60vh] overflow-hidden rounded-3xl md:w-[30vw]">
        <img
        src="/images/about.webp"
        alt="Background"
        class="absolute inset-0 w-full h-full object-cover"
        />
    </div>
    </div>
</div>

<script type="module" src="/src/scripts/DashPass.jsx"></script>
<script type="module" src="/src/scripts/AnimatedTitle.jsx"></script>