---

---

<section id="description" class="flex justify-center">
    <div class="w-[60rem] max-md:w-full flex flex-col items-center justify-center p-20 max-md:p-10 space-y-24 max-md:space-y-12">
        <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8">
            <img src="/home/home-1.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
            <p class="text-left text-lg max-md:text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="flex max-md:flex-col-reverse justify-end items-center md:space-x-8">
            <p class="text-right text-lg max-md:text-center max-md:mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <img src="/home/home-2.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
        </div>
        <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8" >
            <img src="/home/1819-innovation-img.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
            <p class="text-left text-lg max-md:text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</section>