<section class="flex w-full justify-center pt-[40px]">
  <div class="flex w-full md:w-[60rem] flex-col px-10 py-20 md:px-20 space-y-12 md:space-y-10">
    <div class="flex flex-col md:flex-row items-center md:space-x-8 space-y-8">
      <div class="md:w-3/5">
        <h1 class="text-3xl text-theme-teal mb-4 font-bold font-poppins">About RevolutionUC</h1>
        <p class="text-lg">
          RevolutionUC is a 24-hour in-person student hackathon at the University of Cincinnati 
          that is organized by ACM@UC. We invite you to join 300+ motivated students for an awesome 
          weekend of code, community, and self-improvement! You don’t have to have to be a 
          computer science major or engineering student to attend. It’s a learning experience for students 
          of all skill levels!
        </p>
      </div>
      <img
        src="/general/cat-sitting.gif"
        alt="Cat Sitting"
        class="w-3/5 md:w-2/5 h-auto rounded-md object-cover drop-shadow-lg transform transition duration-150 hover:scale-[1.03]"
      />
    </div>

    <p class="italic">
      This year, we will be hosting the entire hackathon in-person at the 1819 Innovation Hub 
      located at 2900 Reading Rd, Cincinnati, OH 45206. It is a fantastic facility with many 
      beautiful classrooms and collaborative work spaces. Visit their website at 
      <a href="https://innovation.uc.edu" class="text-theme-coral underline" target="_blank" rel="noopener">
        innovation.uc.edu
      </a> 
      to learn more about our amazing venue this year!
    </p>
  </div>
</section>
