---
---

<section id="description" class="flex flex-col justify-center items-center relative">
  <div class="glitch-transition h-[20vh] w-full relative top-0 left-0">
    <div id="landscape-transition" class="absolute top-0 left-0 w-full h-full"></div>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 1573 135" fill="none">
      <defs>
        <clipPath id="clip0_301_2">
          <path d="M1419 4.57764e-05L1446 4.57764e-05L1446 27L1419 27L1419 4.57764e-05Z" fill="white"></path>
          <path d="M989 27L285 27L285 -4.57764e-05L989 -4.57764e-05L989 27Z" fill="white"></path>
          <path d="M1386 6.10352e-05L1573 6.10352e-05L1573 27.0001L1386 27.0001L1386 6.10352e-05Z" fill="white"></path>
          <path d="M1151 27L989 27L989 1.52588e-05L1151 1.52588e-05L1151 27Z" fill="white"></path>
          <path d="M989 53.9999L395 53.9999L395 26.9999L989 26.9999L989 53.9999Z" fill="white"></path>
          <path d="M0 -6.10352e-05L126 -6.10352e-05L126 26.9999L0 26.9999L0 -6.10352e-05Z" fill="white"></path>
          <path d="M368 80.9999L395 80.9999L395 108L368 108L368 80.9999Z" fill="white"></path>
          <path d="M1338 27L1365 27L1365 54L1338 54L1338 27Z" fill="white"></path>
          <path d="M1151 4.57764e-05L1338 4.57764e-05L1338 27L1151 27L1151 4.57764e-05Z" fill="white"></path>
          <path d="M773 53.9998L962 53.9998L962 80.9998L773 80.9998L773 53.9998Z" fill="white"></path>
          <path d="M854 80.9998L962 80.9998L962 108L854 108L854 80.9998Z" fill="white"></path>
          <path d="M665 53.9999L854 53.9999L854 80.9999L665 80.9999L665 53.9999Z" fill="white"></path>
          <path d="M962 108L989 108L989 135L962 135L962 108Z" fill="white"></path>
          <path d="M692 80.9999L746 80.9999L746 135L692 135L692 80.9999Z" fill="white"></path>
          <path d="M773 108L746 108L746 80.9999L773 80.9999L773 108Z" fill="white"></path>
          <path d="M260 26.9999L179 26.9999L179 -6.10352e-05L260 -6.10352e-05L260 26.9999Z" fill="white"></path>
          <path d="M989 27L1041 27L1041 81L989 81L989 27Z" fill="white"></path>
          <path d="M1041 27L1151 27L1151 54L1041 54L1041 27Z" fill="white"></path>
          <path d="M1474 6.10352e-05L1573 6.10352e-05L1573 27.0001L1474 27.0001L1474 6.10352e-05Z" fill="white"></path>
          <path d="M610 108L395 108L395 53.9999L610 53.9999L610 108Z" fill="white"></path>
          <path d="M637 80.9999L554 80.9999L554 108L637 108L637 80.9999Z" fill="white"></path>
          <path d="M577 135L550 135L550 108L577 108L577 135Z" fill="white"></path>
          <path d="M395 53.9998L260 53.9998L260 26.9998L395 26.9998L395 53.9998Z" fill="white"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="w-full flex justify-center">
    <div class="w-[70rem] max-md:w-full flex flex-col items-center justify-center p-20 max-md:p-10 space-y-24 max-md:space-y-12">
      <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8">
        <img
          src="/home/home-1.jpg"
          alt=""
          class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity"
        />
        <p class="text-left text-lg max-md:text-center">
          <strong>RevolutionUC</strong> is a 24-hour student hackathon at the University of Cincinnati that is organized by <a
            href="http://acmatuc.org/"
            class="underline text-[#f75c03]"
            target="_blank"
            rel="noopener">ACM@UC</a
          >. We invite you to join 300+ motivated students for an awesome weekend of code, community, and self-improvement! You
          don’t have to have to be a computer science major or engineering student to attend. It’s a learning experience for
          students of all skill levels!
        </p>
      </div>
      <div class="flex max-md:flex-col-reverse justify-end items-center md:space-x-8">
        <p class="text-right text-lg max-md:text-center max-md:mt-8">
          A <strong>hackathon</strong> is an event where people get together, form teams, build something new to solve a problem, and
          have fun doing it! Some project ideas include websites, mobile apps, robots, and more! A hackathon is an all-inclusive environment,
          you’ll learn something new and meet people who are passionate about technology.
        </p>
        <img
          src="/home/home-2.jpg"
          alt=""
          class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity"
        />
      </div>
      <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8">
        <img
          src="/home/1819-innovation-img.jpg"
          alt=""
          class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity"
        />
        <p class="text-left text-lg max-md:text-center">
          This year, we will be hosting the entire hackathon in-person at the
          <strong>1819 Innovation Hub</strong>! The 1819 Innovation Hub is located at 2900 Reading Rd, Cincinnati, OH 45206 and is
          a fantastic facility with many beautiful classrooms and collaborative work spaces. Visit their website at
          <a href="https://innovation.uc.edu" class="underline text-[#f75c03]" target="_blank" rel="noopener">innovation.uc.edu</a
          > to learn more about our amazing venue this year! (Photo taken from the 1819 Innovation Hub Website).
        </p>
      </div>
    </div>
  </div>

  <style>
    .glitch-transition {
      background-color: #f75c03;
      /* background-image: url(https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
      clip-path: url(#clip0_301_2);
    }
    #landscape-transition {
      background-image: linear-gradient(to bottom, #d80368 1.5px, transparent 1.5px),
        linear-gradient(to right, #d80368 1.5px, transparent 1.5px);
      background-size: 5vh 5vh, 80px 80px;
      animation: moveUp 3s linear infinite forwards;
    }
    @keyframes moveUp {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 0% -100%;
      }
    }
  </style>
</section>
