---
---

<section id="description" class="flex justify-center">
    <div class="w-[60rem] max-md:w-full flex flex-col items-center justify-center p-20 max-md:p-10 space-y-24 max-md:space-y-12">
        <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8">
            <img src="/home/home-1.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
            <p class="text-left text-lg max-md:text-center">
                <strong>RevolutionUC</strong> is a 24-hour student hackathon at the University of Cincinnati that is organized
                by <a href="http://acmatuc.org/" class="underline text-[#f75c03]" target="_blank" rel="noopener">ACM@UC</a>. We invite you to join 300+
                motivated students for an awesome weekend of code, community, and self-improvement! You don’t have to
                have to be a computer science major or engineering student to attend. It’s a learning experience for
                students of all skill levels!
            </p>
        </div>
        <div class="flex max-md:flex-col-reverse justify-end items-center md:space-x-8">
            <p class="text-right text-lg max-md:text-center max-md:mt-8">
                A <strong>hackathon</strong> is an event where people get together, form teams, build something new to solve a
                problem, and have fun doing it! Some project ideas include websites, mobile apps, robots, and more! A
                hackathon is an all-inclusive environment, you’ll learn something new and meet people who are passionate
                about technology.
            </p>
            <img src="/home/home-2.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
        </div>
        <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8" >
            <img src="/home/1819-innovation-img.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
            <p class="text-left text-lg max-md:text-center">
                This year, we will be hosting the entire hackathon in-person at the
                <strong>1819 Innovation Hub</strong>! The 1819 Innovation Hub is located at 2900
                Reading Rd, Cincinnati, OH 45206 and is a fantastic facility with many beautiful classrooms and collaborative
                work spaces. Visit their website at
                <a href="https://innovation.uc.edu" class="underline text-[#f75c03]" target="_blank" rel="noopener">innovation.uc.edu</a> to learn more about
                our amazing venue this year!
                (Photo taken from the 1819 Innovation Hub Website).
            </p>
        </div>
    </div>
</section>