---
---
<section id="description" class="flex flex-col justify-center">
  <div class="hoho w-full h-24 rotate-180">
    <svg id="glitch-up" width="0" height="0" viewBox="0 0 1573 135" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <clipPath id="svgTextPath2">
          <rect width="704" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1288 108)"></rect>
          <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 127 135)"></rect>
          <rect width="187" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 135)"></rect>
          <rect width="162" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 584 108)"></rect>
          <rect width="594" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1178 81.0001)"></rect>
          <rect width="126" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1447 135)"></rect>
          <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1178 54.0001)"></rect>
          <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 208 108)"></rect>
          <rect width="187" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 235 135)"></rect>
          <rect width="189" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 611 81.0002)"></rect>
          <rect width="108" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 611 54.0002)"></rect>
          <rect width="189" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 719 81.0001)"></rect>
          <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 584 27)"></rect>
          <rect width="54" height="54" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 827 54.0001)"></rect>
          <rect width="27" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 827 27.0001)"></rect>
          <rect width="81" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1394 108)"></rect>
          <rect width="52" height="54" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 532 108)"></rect>
          <rect
            width="27"
            height="27"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1474 108)"
            fill="url(#paint0_linear_4_4316)"></rect>
          <rect width="110" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 422 108)"></rect>
          <rect width="99" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 135)"></rect>
          <rect width="215" height="54" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1178 27.0001)"></rect>
          <path d="M936 54.0001L1019 54.0001L1019 27.0001L936 27.0001L936 54.0001Z"></path>
          <rect width="27" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1023 0.00012207)"></rect>
          <rect width="135" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1313 81.0001)"></rect>
          <rect
            width="27"
            height="27"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 505 54.0002)"
            fill="url(#paint2_linear_4_4316)"></rect>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1420 54.0001L1420 81.0001L1420 108L1447 108L1447 81.0001L1474 81.0001L1474 54.0001L1447 54.0001L1420 54.0001Z"
            fill="url(#paint3_linear_4_4316)"></path>
        </clipPath>
      </defs>
    </svg>
    <div class="inner h-full">
      <!-- <svg id="glitch-up" width="1573" height="135" viewBox="0 0 1573 135" xmlns="http://www.w3.org/2000/svg">
            <rect width="704" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1288 108)" ></rect>
            <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 127 135)" ></rect>
            <rect width="187" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 135)" ></rect>
            <rect width="162" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 584 108)" ></rect>
            <rect width="594" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1178 81.0001)" ></rect>
            <rect width="126" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1447 135)" ></rect>
            <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1178 54.0001)" ></rect>
            <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 208 108)" ></rect>
            <rect width="187" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 235 135)" ></rect>
            <rect width="189" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 611 81.0002)" ></rect>
            <rect width="108" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 611 54.0002)" ></rect>
            <rect width="189" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 719 81.0001)" ></rect>
            <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 584 27)" ></rect>
            <rect width="54" height="54" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 827 54.0001)" ></rect>
            <rect width="27" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 827 27.0001)" ></rect>
            <rect width="81" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1394 108)" ></rect>
            <rect width="52" height="54" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 532 108)" ></rect>
            <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1474 108)" fill="url(#paint0_linear_4_4316)" ></rect>
            <rect width="110" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 422 108)" ></rect>
            <rect width="99" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 135)" ></rect>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M290 54.0002L263 54.0002L236 54.0002L236 81.0002L263 81.0002L263 108L290 108L290 81.0002L290 54.0002Z" fill="url(#paint1_linear_4_4316)" ></path>
            <rect width="215" height="54" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1178 27.0001)" ></rect>
            <path d="M936 54.0001L1019 54.0001L1019 27.0001L936 27.0001L936 54.0001Z" ></path>
            <rect width="27" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1023 0.00012207)" ></rect>
            <rect width="135" height="27" transform="matrix(-1 8.74228e-08 8.74228e-08 1 1313 81.0001)" ></rect>
            <rect width="27" height="27" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 505 54.0002)" fill="url(#paint2_linear_4_4316)" ></rect>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1420 54.0001L1420 81.0001L1420 108L1447 108L1447 81.0001L1474 81.0001L1474 54.0001L1447 54.0001L1420 54.0001Z" fill="url(#paint3_linear_4_4316)" ></path>
        </svg> -->
    </div>
  </div>
  <div class="w-full flex justify-center">
    <div class="w-[70rem] max-md:w-full flex flex-col items-center justify-center p-20 max-md:p-10 space-y-24 max-md:space-y-12">
      <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8">
          <img src="/home/home-1.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
          <p class="text-left text-lg max-md:text-center">
              <strong>RevolutionUC</strong> is a 24-hour student hackathon at the University of Cincinnati that is organized
              by <a href="http://acmatuc.org/" class="underline text-[#f75c03]" target="_blank" rel="noopener">ACM@UC</a>. We invite you to join 300+
              motivated students for an awesome weekend of code, community, and self-improvement! You don’t have to
              have to be a computer science major or engineering student to attend. It’s a learning experience for
              students of all skill levels!
          </p>
      </div>
      <div class="flex max-md:flex-col-reverse justify-end items-center md:space-x-8">
          <p class="text-right text-lg max-md:text-center max-md:mt-8">
              A <strong>hackathon</strong> is an event where people get together, form teams, build something new to solve a
              problem, and have fun doing it! Some project ideas include websites, mobile apps, robots, and more! A
              hackathon is an all-inclusive environment, you’ll learn something new and meet people who are passionate
              about technology.
          </p>
          <img src="/home/home-2.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
      </div>
      <div class="flex max-md:flex-col justify-start items-center space-x-8 md:space-x-8 max-md:space-y-8" >
          <img src="/home/1819-innovation-img.jpg" alt="" class="w-xs max-md:w-full h-52 max-md:h-72 object-cover rounded-md hover:opacity-90 transition-opacity">
          <p class="text-left text-lg max-md:text-center">
              This year, we will be hosting the entire hackathon in-person at the
              <strong>1819 Innovation Hub</strong>! The 1819 Innovation Hub is located at 2900
              Reading Rd, Cincinnati, OH 45206 and is a fantastic facility with many beautiful classrooms and collaborative
              work spaces. Visit their website at
              <a href="https://innovation.uc.edu" class="underline text-[#f75c03]" target="_blank" rel="noopener">innovation.uc.edu</a> to learn more about
              our amazing venue this year!
              (Photo taken from the 1819 Innovation Hub Website).
          </p>
      </div>
  </div>
  
</section>

<style>
  .hoho {
    background: orange;
    clip-path: url(#svgTextPath2);
  }
  .inner {
    background-size: 50px 50px;
    background-image: linear-gradient(to bottom, #d80368 2px, transparent 2px),
      linear-gradient(to right, #d80368 2px, transparent 2px);
  }
</style>
