
  <div id="main" class="overflow-hidden">
    <section class="horizontal-container relative flex flex-row w-full h-screen overflow-hidden">

      <div class="panel flex-none w-full h-full flex bg-[#FF4545]">
      </div>

      <div class="panel flex-none w-full h-full flex bg-green-600">
        <div class="w-full flex justify-center"></div>
      </div>

      <div class="panel flex-none w-full h-full flex bg-blue-600">
        <div class="w-full flex justify-center"></div>
      </div>

    </section>

  </div>
  <script type="module" src="/src/scripts/HorizontalSection.jsx"></script>
