---
---

<nav class="flex flex-row items-center justify-between w-full px-4 py-2 bg-white border-b border-gray-200 fixed">
    <div class="flex flex-row items-center justify-start">
        <a href="/" class="text-2xl font-bold text-blue-500">RevolutionUC</a>
    </div>
    <div class="flex flex-row items-center justify-end">
        <a href="/about" class="px-4 py-2 text-lg font-bold text-blue-500 hover:text-blue-600">About</a>
        <a href="/schedule" class="px-4 py-2 text-lg font-bold text-blue-500 hover:text-blue-600">Schedule</a>
        <a href="/sponsors" class="px-4 py-2 text-lg font-bold text-blue-500 hover:text-blue-600">Sponsors</a>
        <a href="/faq" class="px-4 py-2 text-lg font-bold text-blue-500 hover:text-blue-600 mr-2">FAQ</a>
        <a href="/apply" class="px-4 py-2 text-lg font-bold text-white bg-blue-500 rounded hover:bg-blue-600">Apply Now</a>
    </div>
</nav>