---
import pastHacks from "../data/pastHacks.json";
// TODO: fix last year's logo being mismatched
---

<section id="past-hacks" class="flex flex-col items-center justify-center space-y-12 p-8 lg:p-16">
  <p class="text-center text-lg">
    RevolutionUC has been a leader in the Cincinnati hacker community since 2014. Check out submissions from previous
    hackathons.
  </p>
  <div id="past-hack-logos" class="flex w-3/4 flex-wrap justify-center">
    {
      Object.keys(pastHacks)
        .reverse()
        .map((key) => {
          const dataArr = pastHacks[key as keyof typeof pastHacks];
          return (
            <div class="group ml-6 mr-6 w-32">
              <a href={dataArr[3]} target="_blank" rel="noopener">
                <img src={dataArr[1]} alt={dataArr[2]} class="transition-all group-hover:brightness-75" />
                <div class="pointer-events-none relative bottom-2/4 w-full text-center font-bold tracking-wider text-white opacity-0 transition-opacity group-hover:opacity-100">
                  {dataArr[0]}
                </div>
              </a>
            </div>
          );
        })
    }
  </div>
</section>
