---
import quickLinksData from "../data/quickLinks.json";
---

<div class="w-80 border-2 p-3 shadow-lg">
  <h2 class="text-center text-3xl mb-4 font-bold">Quick Links</h2>

  <table class="w-full">
    {
      quickLinksData.map((quickLink) => (
        <tr>
          <td>
            <img class="w-8" src={quickLink.icon} alt={quickLink.name} />
          </td>
          <td>
            <a class="pl-2 text-blue-500 underline" href={quickLink.link} target="_blank" rel="noopener">
              {quickLink.text}
            </a>
          </td>
        </tr>
      ))
    }
  </table>
</div>
