<section class="pb-20">
  <p>
    <small
      ><sup id="agree-1">1</sup>I authorize you to share my application/registration information with Major League
      Hacking for event administration, ranking, and MLH administration in-line with the <a
        href="https://mlh.io/privacy"
        target="_blank"
        class="text-red-700 underline">MLH Privacy Policy</a
      >. I further agree to the terms of both the
      <a
        href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions"
        target="_blank"
        class="text-red-700 underline">MLH Contest Terms and Conditions</a
      >
      and the
      <a href="https://mlh.io/privacy" target="_blank" class="text-red-700 underline">MLH Privacy Policy</a>.</small
    >
    <br />
    <small
      ><sup id="agree-2">2</sup>I have read and agree to the
      <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank" class="text-red-700 underline"
        >MLH Code of Conduct</a
      >.</small
    >
    <br />
    <small
      ><sup id="agree-3">3</sup>I authorize MLH to send me pre- and post-event informational emails, which contain free
      credit and opportunities from their partners.</small
    >
  </p>
</section>
