---
import countriesJson from "../../data/register/countries.json";
---

<div>
  <label class="font-bold" for="country" id="country-label">Country*</label>

  <div class="pt-2">
    <input
      class="input--country-other hidden w-full rounded-xl border border-gray-500 p-3 placeholder-gray-400"
      type="text"
      placeholder="Enter your country"
    />

    <div class="flex w-full rounded-xl border border-gray-500 placeholder-gray-400" id="searchCountryContainer">
      <input
        class="remove-calendar-dropdown w-full rounded-xl p-3 outline-none"
        name="country"
        id="country"
        list="country-list"
        placeholder="Search your country"
        required
      />
      <datalist class="border" id="country-list">
        {countriesJson["countries"].map(country => <option>{country}</option>)}
      </datalist>
      <div id="country-dropdown-btn" class="flex cursor-pointer pl-4 pr-1 text-sm text-[#9ca3af]">
        <span class="self-center justify-self-center">&#9013;</span>
      </div>
    </div>
  </div>
</div>

<script>
  import Awesomplete from 'awesomplete'
  const countryComplete = new Awesomplete(document.getElementById("country")!, {
    list: "#country-list",
    minChars: 0,
    maxItems: 1000000,
    sort: false,
  });
  document.getElementById("country-dropdown-btn")!.addEventListener("click", function () {
    if (countryComplete.ul.childNodes.length === 0) {
      countryComplete.evaluate();
    } else if (countryComplete.ul.hasAttribute("hidden")) {
      countryComplete.open();
    } else {
      countryComplete.close();
    }
  });
</script>
