---
import countriesJson from "../../data/register/countries.json";
---

<div>
  <label class="font-bold" for="country" id="country-label">Country*</label>

  <div class="pt-2">
    <input
      class="input--country-other hidden border border-gray-500 rounded-xl p-3 w-full placeholder-gray-400"
      type="text"
      placeholder="Enter your country"
    />

    <div class="flex border border-gray-500 rounded-xl w-full placeholder-gray-400" id="searchCountryContainer">
      <input
        class="p-3 rounded-xl w-full outline-none remove-calendar-dropdown"
        name="country"
        id="country"
        list="country-list"
        placeholder="Search your country"
        required
      />
      <datalist class="border" id="country-list"></datalist>
      <div id="country-dropdown-btn" class="flex text-[#9ca3af] text-sm pl-4 pr-1 cursor-pointer"><span class="self-center justify-self-center">&#9013;</span></div>
    </div>

    <div class="pt-2">
      <input name="countryOther" id="countryOther" type="checkbox" class="button" />
      <label for="countryOther"><small>I can't find my country</small></label>
    </div>
  </div>
</div>

<script defer define:vars={{ countriesJson }}>
  const countries = countriesJson["countries"];
  for (let country of countries) {
    const newOption = document.createElement("option");

    newOption.value = country;
    newOption.innerText = country;
    if (country == "United States") newOption.setAttribute("selected", "");
    document.querySelector("datalist#country-list").append(newOption);
  }
  const countryComplete = new Awesomplete(document.getElementById("country"), {
    list: "#country-list",
    minChars: 0,
    maxItems: 1000000
  });
  Awesomplete.$("#country-dropdown-btn").addEventListener("click", function () {
    if (countryComplete.ul.childNodes.length === 0) {
      countryComplete.minChars = 0;
      countryComplete.evaluate();
    } else if (countryComplete.ul.hasAttribute("hidden")) {
      countryComplete.open();
    } else {
      countryComplete.close();
    }
  });

  const countryOtherButton = document.getElementById("countryOther");
  const countryNormalInput = document.getElementById("country");
  const searchCountryContainer = document.getElementById("searchCountryContainer");
  const countryOtherInput = document.getElementsByClassName("input--country-other")[0];

  countryOtherButton.addEventListener("change", function () {
    if (countryOtherButton.checked) { // Cannot find my country
      // Complete disable the normal input
      searchCountryContainer.classList.add("hidden");
      countryNormalInput.required = false;
      countryNormalInput.removeAttribute("name");
      // Enable the other input
      countryOtherInput.classList.remove("hidden");
      countryOtherInput.required = true;
      countryOtherInput.setAttribute("name", "country")
    } else {
      searchCountryContainer.classList.remove("hidden");
      countryNormalInput.required = true
      countryNormalInput.setAttribute("name", "country");
      // Disable the other input
      countryOtherInput.classList.add("hidden");
      countryOtherInput.required = false
      countryOtherInput.removeAttribute("name");
    }
  });
</script>
