---
import 'intl-tel-input/build/css/intlTelInput.css'
---

<div class="relative">
  <label for="phoneNumber">
    <div class="group inline-block font-bold underline decoration-dotted">
      Phone Number*
      <span
        class="invisible absolute bottom-full start-0 rounded-lg bg-gray-800 p-2 text-center text-sm text-white opacity-80 group-hover:visible"
      >
        Choose country code & just type number, no spaces or brackets
      </span>
    </div>
  </label>
  <div class="block pt-2">
    <input
      class="w-full rounded-xl border border-gray-500 p-3"
      name="phoneNumber[main]"
      id="phoneNumber"
      type="tel"
      required
    />
  </div>
</div>

<style is:global>
  .iti {
    --iti-path-flags-1x: url('intl-tel-input/build/img/flags.png');
    --iti-path-flags-2x: url('intl-tel-input/build/img/flags@2x.png');
    --iti-path-globe-1x: url('intl-tel-input/build/img/globe.webp');
    --iti-path-globe-2x: url('intl-tel-input/build/img/globe@2x.webp');
  }
</style>

<script>
  import intlTelInput from 'intl-tel-input';

  const input = document.querySelector<HTMLInputElement>("#phoneNumber")!;
  intlTelInput(input, {
    initialCountry: "US",
    loadUtils: () => import("intl-tel-input/utils"),
  });
</script>

