---
import schools from "../../data/register/schools.json";
---

<div>
  <label class="font-bold" for="school" id="school-label">School*</label>

  <div class="pt-2">
    <input
      id="school-other-input"
      class="hidden w-full rounded-xl border border-gray-500 p-3 placeholder-gray-400"
      type="text"
      placeholder="Enter your school"
    />

    <div class="flex w-full rounded-xl border border-gray-500 placeholder-gray-400" id="searchSchoolContainer">
      <input
        class="remove-calendar-dropdown w-full rounded-xl p-3 outline-none"
        name="school"
        id="school-input"
        list="school-list"
        placeholder="Search your school"
        required
      />
      <datalist class="w-full" id="school-list">
          {schools.map(school => <option>{school}</option>)}
      </datalist>
    </div>

    <div class="pt-2">
      <input name="schoolOther" id="school-other-checkbox" type="checkbox" class="button" />
      <label for="school-other-checkbox"><small>I can't find my school</small></label>
    </div>
  </div>
</div>

<script>
  import Awesomplete from "awesomplete";

  const schoolComplete = new Awesomplete(document.querySelector("#school-input")!, {
    list: "#school-list",
    minChars: 5,
    maxItems: 100,
    sort: false
  });

  const schoolOtherCheckbox = document.querySelector<HTMLInputElement>("#school-other-checkbox")!;
  const searchSchoolContainer = document.querySelector<HTMLDivElement>("#searchSchoolContainer")!;
  const schoolNormalInput = document.querySelector<HTMLInputElement>("#school-input")!;
  const schoolOtherInput = document.querySelector<HTMLInputElement>("#school-other-input")!;

  schoolOtherCheckbox.addEventListener("change", function () {
    if (schoolOtherCheckbox.checked) {
      searchSchoolContainer.classList.add("hidden");
      // Remove the `required` field from the normal input, since it is hidden away
      schoolNormalInput.required = false;
      schoolNormalInput.removeAttribute("name");
      // Enable the other input
      schoolOtherInput.classList.remove("hidden");
      schoolOtherInput.required = true;
      schoolOtherInput.setAttribute("name", "school");
    } else {
      // Disable the other input
      schoolOtherInput.classList.add("hidden");
      schoolOtherInput.required = false;
      schoolOtherInput.removeAttribute("name");
      // Enable the normal input
      searchSchoolContainer.classList.remove("hidden");
      schoolNormalInput.required = true;
      schoolNormalInput.setAttribute("name", "school");
    }
  });
</script>
