---

---

<div>
  <label class="font-bold" for="school" id="school-label">School*</label>

  <div class="pt-2">
    <input
      class="input--school-other hidden w-full rounded-xl border border-gray-500 p-3 placeholder-gray-400"
      type="text"
      placeholder="Enter your school"
    />

    <div class="flex w-full rounded-xl border border-gray-500 placeholder-gray-400" id="searchSchoolContainer">
      <input
        class="remove-calendar-dropdown w-full rounded-xl p-3 outline-none"
        name="school"
        id="school"
        list="school-list"
        placeholder="Search your school"
        required
      />
      <datalist class="w-full" id="school-list"></datalist>
      <div id="school-dropdown-btn" class="flex cursor-pointer pl-4 pr-1 text-sm text-[#9ca3af]">
        <span class="self-center justify-self-center">&#9013;</span>
      </div>
    </div>

    <div class="pt-2">
      <input name="schoolOther" id="schoolOther" type="checkbox" class="button" />
      <label for="schoolOther"><small>I can't find my school</small></label>
    </div>
  </div>
</div>

<script defer>
  const schools$ = fetch("https://raw.githubusercontent.com/MLH/mlh-policies/master/schools.csv");
  schools$
    .then((response) => response.text())
    .then((schools) => {
      let arraySchools = schools.split("\n");
      arraySchools.shift();
      for (school of arraySchools) {
        let newOption = document.createElement("option");

        newOption.value = school;
        newOption.innerText = school;
        if (school == "The University of Cincinnati") newOption.setAttribute("selected", "");
        document.querySelector("datalist#school-list").append(newOption);
      }
      var schoolComplete = new Awesomplete(document.getElementById("school"), {
        list: "#school-list",
        minChars: 0,
        maxItems: 1000000,
      });
      Awesomplete.$("#school-dropdown-btn").addEventListener("click", function () {
        if (schoolComplete.ul.childNodes.length === 0) {
          schoolComplete.minChars = 0;
          schoolComplete.evaluate();
        } else if (schoolComplete.ul.hasAttribute("hidden")) {
          schoolComplete.open();
        } else {
          schoolComplete.close();
        }
      });
    });

  const schoolOtherButton = document.getElementById("schoolOther");
  const searchSchoolContainer = document.getElementById("searchSchoolContainer");
  const schoolNormalInput = document.getElementById("school");
  const schoolOtherInput = document.getElementsByClassName("input--school-other")[0];

  schoolOtherButton.addEventListener("change", function () {
    if (schoolOtherButton.checked) {
      searchSchoolContainer.classList.add("hidden");
      // Remove the `required` field from the normal input, since it is hidden away
      schoolNormalInput.required = false;
      schoolNormalInput.removeAttribute("name");
      // Enable the other input
      schoolOtherInput.classList.remove("hidden");
      schoolOtherInput.required = true;
      schoolOtherInput.setAttribute("name", "school");
    } else {
      // Disable the other input
      schoolOtherInput.classList.add("hidden");
      schoolOtherInput.required = false;
      schoolOtherInput.removeAttribute("name");
      // Enable the normal input
      searchSchoolContainer.classList.remove("hidden");
      schoolNormalInput.required = true;
      schoolNormalInput.setAttribute("name", "school");
    }
  });
</script>
