---
interface Props {
  bgtailwind: string;
}

const { bgtailwind } = Astro.props;
---

<!-- A div section which fills the whole device width and height -->
<div class={"w-screen h-screen max-w-full " + bgtailwind}>
    <slot />
</div>