---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "/src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Raleway&display=swap" rel="stylesheet" />
    <title>{title}</title>
    <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script is:inline src="/scripts/mgGlitch.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.css"
      integrity="sha512-JcmylNmvdZJ8UcYcSDFWhvE6DwI8bKcnPKvBlwU2w/aRJ6qiZErv1Ixq99ykZgy3cCSp+QJp9su5buNLQjytng=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js"
      integrity="sha512-t3zV/oAkSZUrvb/7p1q1+uh/i56JinQ+bmiulnHhbHZc7dq09CxJ1BByyi7A4+lF76+CcJtSVFtb7na7Oe7Cgg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.3.3/css/intlTelInput.css"
      integrity="sha512-0MvDK6EKxNTNdRSbB3hF2+1kLkJgC9yHVDf//8hPfEI2cDfy/Mezjw9BsSyA61uX2Vkk9iDOJAHoBToust2lsw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.3.3/js/intlTelInput.min.js"
      integrity="sha512-HoBrREvUEj0mAjZNIMKua+9AKiZgtISopFgQlpnGxZIqSaJIxJPHBVAu2DCk7aCpzHcVappgoZalXr9V8RR7Vg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <slot />
    <script defer>
      $("#landscape-grid").mgGlitch({
        // set 'true' to stop the plugin
        destroy: false,

        // set 'false' to stop glitching
        glitch: true,

        // set 'false' to stop scaling
        scale: false,

        // set 'false' to stop glitch blending
        blend: false,

        // CSS blend-mode property
        // normal
        // multiply
        // screen
        // overlay
        // darken
        // lighten
        // color-dodge
        // color-burn
        // difference
        // exclusion
        // hue
        // saturation
        // color
        // luminosity
        blendModeType: "overlay",

        // set min time for glitch 1 elem
        glitch1TimeMin: 600,

        // set max time for glitch 1 elem
        glitch1TimeMax: 900,

        // set min time for glitch 2 elem
        glitch2TimeMin: 400,

        // set max time for glitch 2 elem
        glitch2TimeMax: 600,

        // z-index
        zIndexStart: 5,
      });
    </script>
  </body>
</html>
