---
interface Props {
  current: string;
}

const { current } = Astro.props;
const navLinks = {
  Home: "/",
  About: "/about",
  // Schedule: "/schedule",
  // Sponsors: "/sponsors",
  "Hack Ideas": "/hack-ideas",
  FAQ: "/faq",
};
---

<nav id="nav-bar" class="fixed top-0 z-50 w-full transition-colors duration-300">
  <ul class="flex flex-row justify-center space-x-16 bg-transparent p-6 text-xl text-white max-md:hidden">
    {
      /* map over the navLinks object and create a link for each key */
      Object.keys(navLinks).map((key) => {
        const link = navLinks[key as keyof typeof navLinks]; /* to make typescript happy */
        return (
          <li>
            {
              /* if the current page is the same as the link, add the active class */
              current == key.toLowerCase() ? (
                <a class="after:block after:h-0.5 after:w-full after:bg-white" href={link}>
                  {key}
                </a>
              ) : (
                <a
                  class="opacity-75 after:block after:h-0.5 after:w-full after:origin-left after:scale-x-0 after:bg-white after:transition-transform hover:opacity-100 hover:after:scale-x-100"
                  href={link}
                >
                  {key}
                </a>
              )
            }
          </li>
        );
      })
    }
    <!-- MLH Badge -->
    <a 
      id="mlh-trust-badge" 
      style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" 
      href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2025-season&utm_content=red" 
      target="_blank"
    >
      <img 
        src="https://s3.amazonaws.com/logged-assets/trust-badge/2025/mlh-trust-badge-2025-red.svg" 
        alt="Major League Hacking 2025 Hackathon Season" 
        style="width:100%"
      />
    </a>
  </ul>
</nav>

<script defer define:vars={{ current }}>
  // change the nav bar to black when the user scrolls down
  const nav = document.querySelector("#nav-bar");
  if (current !== "home") {
    nav.style.backgroundColor = "#fc7b30";
  } else {
    window.addEventListener("scroll", () => {
      if (window.scrollY > window.innerHeight - 30) {
        nav.style.backgroundColor = "#fc7b30";
      } else {
        nav.style.backgroundColor = "transparent";
      }
    });
  }
</script>
