---
interface Props {
  current: string;
}

const { current } = Astro.props;
const navLinks = {
  Home: "/",
  About: "/about",
  Schedule: "/schedule",
  Sponsors: "/sponsors",
  FAQ: "/faq",
  Live: "/live"
};
---

<nav
  id="nav-bar"
  class="fixed w-full z-50 top-0 transition-colors duration-300"
>
  <ul
    class="flex flex-row justify-center space-x-16 text-white text-xl p-6 max-md:hidden bg-transparent"
  >
    {
      /* map over the navLinks object and create a link for each key */
      Object.keys(navLinks).map((key) => {
        const link =
          navLinks[key as keyof typeof navLinks]; /* to make typescript happy */
        return (
          <li>
            {
              /* if the current page is the same as the link, add the active class */
              current == key.toLowerCase() ? (
                <a
                  class="after:block after:w-full after:h-0.5 after:bg-white"
                  href={link}
                >
                  {key}
                </a>
              ) : (
                <a
                  class="after:block after:w-full after:h-0.5 after:bg-white after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:origin-left opacity-75 hover:opacity-100"
                  href={link}
                >
                  {key}
                </a>
              )
            }
          </li>
        );
      })
    }
    <!-- MLH Badge -->
    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2024-season&utm_content=red" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2024/mlh-trust-badge-2024-red.svg" alt="Major League Hacking 2024 Hackathon Season" style="width:100%"></a>
  </ul>
</nav>

<script defer define:vars={{ current }}>
  // change the nav bar to black when the user scrolls down
  const nav = document.querySelector("#nav-bar");
  if (current !== "home") {
    nav.style.backgroundColor = "#fc7b30";
  } else {
    window.addEventListener("scroll", () => {
      if (window.scrollY > window.innerHeight - 30) {
        nav.style.backgroundColor = "#fc7b30";
      } else {
        nav.style.backgroundColor = "transparent";
      }
    });
  }
</script>
